:host {
  display: inline-block;
  position: relative;

  * {
    cursor: pointer;
  }

  // thumb
  --thumb-size: calc(var(--base-unit) * 4);

  // track
  --track-width: 40px;
  --track-height: calc(var(--base-unit) * 5);
  --track-color-on: var(--color-purple);
  --track-color-off: var(--color-gray);

  label,
  div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

div[part=track] {
  position: absolute;
  z-index: 900;
  width: var(--track-width);
  height: var(--track-height);
  border-radius: 20px;
  display: flex;
  align-items: center;
  background: var(--track-color-off);
  transition: background 0.1s ease;
}

span[part=thumb] {
  position: absolute;
  z-index: 1000;
  height: var(--thumb-size);
  width: var(--thumb-size);
  border-radius: 100%;
  left: calc(0px + 2px);
  transition: transform 0.2s ease;
  background: white;
}

.thumb-on {
  transform: translateX(calc(var(--track-width) - var(--thumb-size) - 4px)) !important;
}

.track-on {
  background: var(--track-color-on) !important;
}

input {
  opacity: 0;
  padding: 0;
  margin-left: calc(var(--track-width) + (var(--thumb-size)/2));
}

:host([disabled]) {
  opacity: 0.5;

  * {
    cursor: not-allowed;
  }
}
