@import "../../functional-components/form-control/form-control.scss";

.input {
  border-radius: var(--fl-border-radius-medium);
  width: 100%;
  border: 1px solid var(--fl-color-gray);
  padding: var(--fl-spacing-x-small) var(--fl-spacing-small);
  font-size: var(--fl-font-size-medium);
  font-weight: var(--fl-font-weight-regular);
  color: var(--fl-color-black);

  &:hover:not(:disabled) {
    border-color: var(--fl-color-dark-gray);
  }

  &:focus:not(:disabled) {
    border-color: var(--fl-color-secondary);
    box-shadow: 0 0 4px var(--fl-color-secondary);
    outline: none;
  }

  &:disabled {
    background-color: var(--fl-color-light-gray);
  }
}

.input--invalid {
  border: 1px solid var(--fl-color-danger);
  box-shadow: 0 0 4px var(--fl-color-danger);
}
