:host {
  display: flex;
  flex-direction: column;
  font-family: Roobert, sans-serif;
}

input {
  border-radius: 4px;
  //height: 40px;
  width: 100%;
  border: 1px solid black;
  padding: 2px 12px;
  font-size: 16px;
}

input:active {
  border: 1px solid red;
}

input:autofill {
  background: var(--color-light-purple);
}

input:disabled {
  color: var(--color-gray);
  border: 1px solid var(--color-gray);
  background: var(--color-light-gray);
}

input:focus {
  border: 1px solid var(--color-purple);
  outline: none;
  filter: drop-shadow(0px 0px 2px var(--color-purple));
}

/* TODO add more styles for different states, like error */
input:invalid {
  border: 1px solid #ff6868;
  box-shadow: 0px 0px 3px #ff6b6b;
  filter: none;
}

.error-msg {
  color: red;
  font-size: 14px;
  margin: 8px 0px;

  ul {
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    list-style: none;
  }
}

