:host {
  display: flex;
  width: 300px;
  flex-direction: column;
  font-family: Roobert, sans-serif;
}

input {
  border-radius: 4px;
  height: 40px;
  width: 300px;
  border: 1px solid black;
  padding: 8px 12px;
  font-size: 16px;

  &:active {
    border: 1px solid red;
  }

  &:focus {
    border: 1px solid #7b69ec;
  }

  &:disabled {
    background: grey;
  }
}

.input--invalid {
  border: 1px solid #ff6868;
  box-shadow: 0px 0px 3px #ff6b6b;
}
