:host {
  display: block;
}

:host(.fl-spinner) {
  height: 100vh;
  position: relative;

  &::before {
    animation: 2s linear infinite fl-spinner;
    border: solid 3px #eee;
    border-bottom-color: var(--fl-color-primary);
    content: "";
    border-radius: 50%;
    height: 50px;
    left: 40%;
    opacity: inherit;
    position: absolute;
    top: 5%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 50px;
    will-change: transform;
  }  

  :host(&.fl-spinner--transparant) {
    opacity: 0%;
    transition: opacity linear 0.2s;
  }
}

@keyframes fl-spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
