:host {
  box-sizing: border-box;
  list-style: none;
}

:host * {
  box-sizing: inherit;
}

:host > li {
  padding: 8px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:host > li:hover {
  background: var(--color-light-purple);
  cursor: pointer;
}

:host([collapse]) ::slotted([slot=nested]) {
  display: none; 
}

::slotted(fl-list) {
  box-shadow: none;
  padding-left: var(--spacing-4);
}

.chevron {
    
}
