:host {
  display: block;
  box-sizing: border-box;
  list-style: none;
  position: relative;
}

:host * {
  box-sizing: inherit;
}

:host > li {
  padding: var(--spacing-4) var(--spacing-6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:host > li:hover {
  background: var(--color-light-purple);
  cursor: pointer;
}

:host([collapsed]) ::slotted([slot=nested]) {
  display: none; 
}

:host(:not([collapsed])) ::slotted([slot=nested][float]) {
  z-index: var(--elevation-3000);
}

::slotted(fl-list) {
  box-shadow: none;
  padding-left: var(--spacing-4);
}

::slotted(fl-list[float]) {
  box-shadow: var(--shadow);
  padding-left: 0px;
  left: 100%;
}

.float {
  position: absolute;
}

.chevron {
  margin-left: var(--spacing-4);
}
