:host button {
  border-radius: var(--base-unit);
  border-style: none;
  color: var(--color-white);
  font-weight: 600;
  cursor: pointer;
}

:host button:active {
  transform: scale(0.95);
}

:host button:disabled {
  pointer-events: none;
}

/*
:host button:hover {
  box-shadow: 
    0px 
    var(--base-unit) calc(var(--base-unit) * 2) 
    var(--color-shadow);
}
*/

:host button:focus {
  box-shadow: 
    0 0 0 2px var(--color-white),
    0 0 0 3px var(--color-focus);
  outline: none;
  border: none;
}

// Size
:host([size="normal"]) button {
  padding: var(--spacing-2) var(--spacing-6);
}

:host([size="large"]) button {
  padding: var(--spacing-3) var(--spacing-7);
}

// Primary
:host([variant="primary"]) button {
  background: var(--color-primary);
}

:host([variant="primary"]) button:hover {
  background: var(--color-primary-hover); 
}

:host([variant="primary"]) button:active {
  background: var(--color-primary);
}

:host([variant="primary"]) button:disabled {
  background: var(--color-light-ray);
  color: var(--color-gray);
}

// Secondary
:host([variant="secondary"]) button {
  background: var(--color-secondary);
  color: var(--color-purple);
  border: 1px solid var(--color-purple);
}

:host([variant="secondary"]) button:hover {
  background: var(--color-secondary-hover);
}

:host([variant="secondary"]) button:active {
  background: var(--color-secondary);
}

:host([variant="secondary"]) button:disabled {
  background: var(--color-white);
  color: var(--color-light-gray);
  border: 1px solid var(--color-light-gray);
}

// Success 
:host([variant="success"]) button {
  background: var(--color-success);
}

:host([variant="success"]) button:hover {
  background: var(--color-success-hover);
}

// Warning
:host([variant="warning"]) button {
  background: var(--color-warning);
}

:host([variant="warning"]) button:hover {
  background: var(--color-warning-hover);
}

// Danger
:host([variant="danger"]) button {
  background: var(--color-danger);
}

:host([variant="danger"]) button:hover {
  background: var(--color-danger-hover);
}

:host(:disabled) {

  
}g
