:host {
  display: inline-block;
  width: auto;
  cursor: pointer;
}

.button {
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  border-style: solid;
  border-width: var(--fl-input-border-width);
  font-family: var(--fl-input-font-family);
  font-weight: var(--fl-font-weight-semibold);
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0;
  transition: var(--fl-transition-fast) background-color, var(--fl-transition-fast) color,
    var(--fl-transition-fast) border, var(--fl-transition-fast) box-shadow;
  cursor: inherit;

  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    outline: none;
  }

  &.button--disabled {
    opacity: 0.5;
    cursor: not-allowed;

    // When disabled, prevent mouse events from bubbling up
    * {
      pointer-events: none;
    }
  }

  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Standard buttons
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  &.button--default {
    background-color: var(--fl-color-white);
    border-color: var(--fl-color-secondary);
    color: var(--fl-color-secondary);

    &:hover:not(.button--disabled) {
      background-color: var(--fl-color-secondary-tint);
      border-color: var(--fl-color-primary-300);
      color: var(--fl-color-secondary);
    }

    &:focus:not(.button--disabled) {
      background-color: var(--fl-color-primary-50);
      border-color: var(--fl-color-primary-300);
      color: var(--fl-color-primary-600);
      box-shadow: 0 0 0 var(--fl-focus-ring-width) var(--fl-focus-ring-color-primary);
    }

    &:active:not(.button--disabled) {
      background-color: var(--fl-color-primary-100);
      border-color: var(--fl-color-primary-400);
      color: var(--fl-color-primary-700);
    }
  }

  &.button--primary {
    background-color: var(--fl-color-primary-500);
    border-color: var(--fl-color-primary-500);
    color: var(--fl-color-primary-text);

    &:hover:not(.button--disabled) {
      background-color: var(--fl-color-primary-400);
      border-color: var(--fl-color-primary-400);
      color: var(--fl-color-primary-text);
    }

    &:focus:not(.button--disabled) {
      background-color: var(--fl-color-primary-400);
      border-color: var(--fl-color-primary-400);
      color: var(--fl-color-primary-text);
      box-shadow: 0 0 0 var(--fl-focus-ring-width) var(--fl-focus-ring-color-primary);
    }

    &:active:not(.button--disabled) {
      background-color: var(--fl-color-primary-500);
      border-color: var(--fl-color-primary-500);
      color: var(--fl-color-primary-text);
    }
  }

  &.button--success {
    background-color: var(--fl-color-success-500);
    border-color: var(--fl-color-success-500);
    color: var(--fl-color-success-text);

    &:hover:not(.button--disabled) {
      background-color: var(--fl-color-success-400);
      border-color: var(--fl-color-success-400);
      color: var(--fl-color-success-text);
    }

    &:focus:not(.button--disabled) {
      background-color: var(--fl-color-success-400);
      border-color: var(--fl-color-success-400);
      color: var(--fl-color-success-text);
      box-shadow: 0 0 0 var(--fl-focus-ring-width) var(--fl-focus-ring-color-success);
    }

    &:active:not(.button--disabled) {
      background-color: var(--fl-color-success-500);
      border-color: var(--fl-color-success-500);
      color: var(--fl-color-success-text);
    }
  }

  &.button--warning {
    background-color: var(--fl-color-warning-500);
    border-color: var(--fl-color-warning-500);
    color: var(--fl-color-warning-text);

    &:hover:not(.button--disabled) {
      background-color: var(--fl-color-warning-400);
      border-color: var(--fl-color-warning-400);
      color: var(--fl-color-warning-text);
    }

    &:focus:not(.button--disabled) {
      background-color: var(--fl-color-warning-400);
      border-color: var(--fl-color-warning-400);
      color: var(--fl-color-warning-text);
      box-shadow: 0 0 0 var(--fl-focus-ring-width) var(--fl-focus-ring-color-warning);
    }

    &:active:not(.button--disabled) {
      background-color: var(--fl-color-warning-500);
      border-color: var(--fl-color-warning-500);
      color: var(--fl-color-warning-text);
    }
  }

  &.button--danger {
    background-color: var(--fl-color-danger-500);
    border-color: var(--fl-color-danger-500);
    color: var(--fl-color-danger-text);

    &:hover:not(.button--disabled) {
      background-color: var(--fl-color-danger-400);
      border-color: var(--fl-color-danger-400);
      color: var(--fl-color-danger-text);
    }

    &:focus:not(.button--disabled) {
      background-color: var(--fl-color-danger-400);
      border-color: var(--fl-color-danger-400);
      color: var(--fl-color-danger-text);
      box-shadow: 0 0 0 var(--fl-focus-ring-width) var(--fl-focus-ring-color-danger);
    }

    &:active:not(.button--disabled) {
      background-color: var(--fl-color-danger-500);
      border-color: var(--fl-color-danger-500);
      color: var(--fl-color-danger-text);
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Size modifiers
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.button--small {
  font-size: var(--fl-font-size-small);
  height: var(--fl-input-height-small);
  line-height: calc(var(--fl-input-height-small) - var(--fl-input-border-width) * 2);
  border-radius: var(--fl-border-radius-small);

  .button__label {
    padding: 0 var(--fl-spacing-x-large);
  }
}

.button--medium {
  font-size: var(--fl-font-size-medium);
  height: var(--fl-input-height);
  line-height: calc(var(--fl-input-height) - var(--fl-input-border-width) * 2);
  border-radius: var(--fl-border-radius-medium);

  .button__label {
    padding: 0 var(--fl-spacing-x-large);
  }
}

.button--large {
  font-size: var(--fl-font-size-large);
  height: var(--fl-input-height-large);
  line-height: calc(var(--fl-input-height-large) - var(--fl-input-border-width) * 2);
  border-radius: var(--fl-border-radius-large);

  .button__label {
    padding: 0 var(--fl-spacing-x-large);
  }
}
