@import "./normalize.scss";
@import url("http://fonts.cdnfonts.com/css/roobert");

// Global Variables
:root {
  // === Colors === //

  // Mono
  --color-white: #fff;
  --color-gray: #858585;
  --color-light-gray: #e6e6e6;

  // Variants
  --color-primary: #7b69ec;
  --color-primary-hover: #341bd5;
  --color-secondary: #fff;
  --color-secondary-hover: #e8e4ff;
  --color-success: #27b43b;
  --color-success-hover: #0b871d;
  --color-warning: #feb72c;
  --color-warning-hover: #bd8311;
  --color-danger: #ed443d;
  --color-danger-hover: #c12923;

  // Misc
  --color-focus: #33c2ff;
  --color-purple: #7b69ec;
  --color-light-purple: #e4e2f9;
  --color-shadow: rgba(52, 27, 213, 0.2);

  // === Base unit === //

  --base-unit: 4px;

  // === Spacing === //

  --spacing-1: var(--base-unit);
  --spacing-2: calc(var(--base-unit) * 2);
  --spacing-3: calc(var(--base-unit) * 3);
  --spacing-4: calc(var(--base-unit) * 4);
  --spacing-5: calc(var(--base-unit) * 5);
  --spacing-6: calc(var(--base-unit) * 6);
  --spacing-7: calc(var(--base-unit) * 7);
  --spacing-8: calc(var(--base-unit) * 8);

  // === Shadows === //

  --shadow:
    0
    var(--base-unit)
    calc(var(--base-unit) * 2)
    rgba(33, 36, 41, 0.1);

  // === Elevation === //
  --elevation-900: 900;
  --elevation-1000: 1000;
  --elevation-2000: 2000;
  --elevation-3000: 3000;
}
