@import "./normalize.scss";

// Global Variables
:root {
  --fl-color-black: #000;
  --fl-color-light-gray: #9ca3af;
  --fl-color-dark-gray: #70757e;
  --fl-color-white: #fff;
  --fl-color-primary: #f14382;
  --fl-color-primary-tint: #f5699c;
  --fl-color-primary-shade: #d32263;
  --fl-color-primary-text: var(--fl-color-white);
  --fl-color-secondary: #7b69ec;
  --fl-color-secondary-tint: #9385f0;
  --fl-color-secondary-shade: #6856dd;
  --fl-color-secondary-text: var(--fl-color-white);
  --fl-color-tertiary: #33c2ff;
  --fl-color-tertiary-tint: #68d0fd;
  --fl-color-tertiary-shade: #21b2f0;
  --fl-color-tertiary-text: var(--fl-color-white);
  --fl-color-success: #16a34a;
  --fl-color-success-tint: #22c55e;
  --fl-color-success-shade: #15803d;
  --fl-color-success-text: var(--fl-color-white);
  --fl-color-info: #4b5563;
  --fl-color-info-tint: #6b7280;
  --fl-color-info-shade: #374151;
  --fl-color-info-text: var(--fl-color-white);
  --fl-color-warning: #d97706;
  --fl-color-warning-tint: #f59e0b;
  --fl-color-warning-shade: #b45309;
  --fl-color-warning-text: var(--fl-color-white);
  --fl-color-danger: #dc2626;
  --fl-color-danger-tint: #ef4444;
  --fl-color-danger-shade: #b91c1c;
  --fl-color-danger-text: var(--fl-color-white);
}
