:host {
  display: inline-block;
  background: var(--color-light-gray);
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--base-unit);
}

:host .cross {
  display: inline-flex;
  margin-left: var(--spacing-1);
  padding: 4px;
  border-radius: var(--base-unit);
}

:host .cross:hover {
  background: var(--color-gray);
}

:host .cross:hover svg path {
  fill: var(--color-white);
}
