:host {
  display: block;
}

.hidden {
  display: none;
}

.select {
  width: 200px;
  height: 30px;
  border: solid 2px black;
}

.select__display {
  width: 100%;
  height: 100%;
}

.select__content {
  transition: 10s all ease-out;
}

.select--focused {
  background-color: green;
}
