:host {
  display: inline-block;

  --border-radius: 10px;
  --border-color: var(--fl-color-light-gray);
  --border-width: 1px;
  --padding: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0 4px 16px;
  border-radius: var(--border-radius);
}
