:host {
  box-sizing: border-box;
  display: block;

  --fl-alert-position: absolute;

  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // Alert color tokens
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  // Success Colors
  --fl-alert-success-fill: #eeffee;
  --fl-alert-success-stroke: #27b43b;

  // Warning Colors
  --fl-alert-warning-fill: #fffbee;
  --fl-alert-warning-stroke: #feb72c;

  // Error Colors
  --fl-alert-error-fill: #ffefee;
  --fl-alert-error-stroke: #ed443d;

  // Info Colors
  --fl-alert-info-fill: #eef9ff;
  --fl-alert-info-stroke: #33c2ff;
}

:host([variant="success"]) {
    background-color: var(--fl-alert-success-fill);
    border: 1px solid var(--fl-alert-success-stroke);
}

:host([variant="warning"]) {
    background-color: var(--fl-alert-warning-fill);
    border: 1px solid var(--fl-alert-warning-stroke);
}

:host([variant="error"]) {
    background-color: var(--fl-alert-error-fill);
    border: 1px solid var(--fl-alert-error-stroke);
}

:host([variant="info"]) {
    background-color: var(--fl-alert-info-fill);
    border: 1px solid var(--fl-alert-info-stroke);
}

:host(.alert) {
  display: inline-flex;
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
  border-radius: var(--spacing-1);

  :host(&.alert--fixed) {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
  }

  :host(&.alert--closed) {
    display: none;
  }

  .icon {
    font-size: 16px;
    width: var(--spacing-4);
    color: var(--color-black);
    align-self: center;
  }

  .heading {
    font-family: var(--fl-font-sans);
    font-weight: 600;
    font-size: 16px;
    color: var(--color-black);
    margin-right: var(--spacing-4);
    margin-left: var(--spacing-4);
    overflow-wrap: normal;
  }

  .body {
    font-family: var(--fl-font-sans);
    font-size: 16px;
    color: var(--color-gray);
  }

  .close {
    background: none;
    border: none;
    color: var(--color-gray);
    font-size: 25px;
    margin-left: 16px;
    justify-self: flex-end;
  }
}

.red {
  background-color: red;
}
