@import 'component';

:host {
  display: contents;

  margin: 0;
}

.alert {
  position: relative;
  display: flex;
  align-items: stretch;
  border: solid 1px var(--fl-color-white);
  border-top-width: 3px;
  border-radius: 8px;
  font-family: var(--fl-font-sans);
  font-size: var(--fl-font-size-small);
  font-weight: var(--fl-font-weight-normal);
  color: var(--fl-color-white);
  opacity: 0;
  transition: var(--fl-transition-medium) opacity ease, var(--fl-transition-medium) transform ease;
  margin: inherit;

  &:not(.alert--visible) {
    @include hidden;
  }
}

.alert--open {
  opacity: 1;
  transform: none;
}

.alert__icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  font-size: var(--fl-font-size-large);

  ::slotted(*) {
    margin-left: var(--fl-spacing-large);
  }
}

.alert--primary {
  border-top-color: var(--fl-color-primary-500);

  .alert__icon {
    color: var(--fl-color-primary-500);
  }
}

.alert__message {
  flex: 1 1 auto;
  padding: var(--fl-spacing-large);
  overflow: hidden;
}

.alert__close {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  font-size: var(--fl-font-size-large);
  padding-right: var(--fl-spacing-medium);
}