:host {
  display: block;
}

.form-control__label {
  display: inline-block;
  color: var(--fl-color-black);
  margin-bottom: var(--fl-spacing-xxx-small);
  font-size: var(--fl-font-size-small);
}

.form-control__help-text {
  display: block;
  color: var(--fl-color-black);
  margin-top: var(--fl-spacing-xxx-small);
  font-size: var(--fl-font-size-small);
}
